<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="keywords" content="courses search" />
        <meta name="description" content="courses" />
        <meta name="author" content="Courses" />
        {% if title%}
        <title>{{title}}</title>
        {%else%}
        <title>Courses</title>
        {%endif%}
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/all.min.css" type="text/css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css"> -->

        <link rel="stylesheet" type="text/css"
            href="{{url_for( 'static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css"
            href="{{url_for( 'static', filename='css/all.min.css') }}" />
        <link rel="stylesheet" type="text/css"
            href="{{url_for( 'static', filename='css/swiper-bundle.min.css') }}" />
        <link rel="stylesheet" type="text/css"
            href="{{url_for( 'static', filename='css/style.css') }}" />
        <!-- Make the images pathes work correctly -->
        <script>
        var APP_URL = "{{url_for('static', filename='')}}";

    </script>

    </head>

    <body>

        <div class="main-wrapper">
            <div class="wrapper">

                <!---start aside-->
                <aside id="mySidebar" class="sidebar"
                    onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">

                    <ul class="mt-1">
                        <li class="d-lg-none d-block">
                            <button class="btn" aria-label="toggleSidebar"
                                onclick="clickSidebar()">
                                <span class="sidebar-icon">
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>

                        </li>
                        <!-- Home -->
                        <li class="mb-3">
                            <a href="{{url_for('home')}}">
                                <div class="sidebar-icon">
                                    <img class="img-fluid"
                                        src="{{url_for( 'static', filename='images/udemy-logo.png') }}"
                                        alt="logo" loading="lazy">
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="{{url_for('home')}}" aria-label="home page">

                                <span class="sidebar-icon"> <i
                                        class="fa fa-home"></i></span>
                                <span class="sidebar-text">
                                    Home
                                </span>

                            </a>
                        </li>
                        <!-- end home stuff -->
                        
                        <!-- prodd -->
                        {% for cat in cats %}
                        <li>
                            <a href="{{url_for('categories',slug=cat.slug)}}" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1"
                                aria-label="Office Productivity"
                                class="collapse-1">
                                <span class="sidebar-icon"> <i
                                        class={{cat.image_link}}></i></span>
                                <span class="sidebar-text">
                                    {{cat.title}}
                                    <span class="chevron">

                                    </span>

                                </span>

                            </a>
                            <div class="collapse" id="collapse-1">
                                <ul>
                                    {% for subcat in cat.subcategories %}
                                    <li><a class="dropdown-item" href="{{url_for('categories',slug=subcat.slug)}}"
                                            aria-label="Microsoft">
                                            <span class="sidebar-text">{{subcat.title}}</span>
                                        </a></li>
                                    {% endfor %}

                                </ul>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>

                </aside>
                <!---end aside-->

                <div class="main-content">
                    {%block header%}
                    <!-----start header-->
                    <header class="header">
                        <nav class="navbar navbar-expand-lg">
                            <div class="container-fluid">

                                <div class="row w-100 ">

                                    <div class="col-12  p-0">
                                        <ul
                                            class="navbar-nav d-flex flex-row flex-wrap justify-content-end align-items-center  gap-2   w-100 ">

                                            <li class="nav-item">
                                                <a href="#"
                                                    class="btn nav-link suggest-btn"
                                                    aria-label="suggest a course">Suggest
                                                    a Course</a>
                                            </li>

                                            <li
                                                class="nav-item d-flex flex-row gap-2">
                                                <a href="#"
                                                    class="nav-link nav-icon"
                                                    aria-label="facebook">
                                                    <i
                                                        class="fa-brands fa-facebook-f"></i>
                                                </a>
                                                <a href="#"
                                                    class="nav-link nav-icon"
                                                    aria-label="twitter">
                                                    <i
                                                        class="fa-brands fa-twitter"></i>
                                                </a>
                                                <a href="#"
                                                    class="nav-link nav-icon"
                                                    aria-label="instagram">
                                                    <i
                                                        class="fa-brands fa-instagram"></i>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </nav>
                    </header>
                    <!------end header-->
                    {%endblock header%}

                    <main class="main mb-5">

                        <div class="row m-auto">

                            <!--------start search course-------->
                            {% block search %}
                            <section class="col-12 search-course mt-5">
                                <div class="container-fluid">
                                    <div
                                        class="row d-flex justify-content-center">

                                        <div class="col-lg-3 col-12 home-image">
                                            <img
                                                src="{{url_for( 'static', filename='images/home.webp') }}"
                                                class="img-fluid"
                                                alt="search course"
                                                loading="lazy">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <h2>Find your next course.</h2>
                                            <div class="row">
                                                <div class="col-12">
                                                    <form class="input-search">
                                                        <i
                                                            class="fas fa-search icon-search"></i>
                                                        <input type="text"
                                                            class="form-control"
                                                            alt="search"
                                                            id="input-search"
                                                            placeholder="Search 200,000 courses...">
                                                    </form>
                                                </div>

                                                <div
                                                    class="col-7 mt-2 bottom-search">
                                                    Or browse by <a href="#">subject</a>
                                                    or <a href="#">university</a>
                                                </div>

                                                <div
                                                    class="col-5 text-end mt-2 bottom-search">
                                                    <a href="#"
                                                        aria-label="learn more">learn
                                                        more</a>
                                                    <i
                                                        class="fa fa-circle-question"></i>
                                                </div>

                                                <div
                                                    class="col-12 popular-course mt-5">

                                                    <h3>Popular courses</h3>
                                                    <ul
                                                        class="d-flex  flex-wrap p-0">
                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon-certificates.webp') }}"
                                                                    alt="Free Certificate"
                                                                    loading="lazy">
                                                                <span>Free
                                                                    Certificates</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon--league.webp') }}"
                                                                    alt="Ivy League"
                                                                    loading="lazy">
                                                                <span>Ivy League</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/institutions_stanford-sq.webp') }}"
                                                                    alt="StanFord"
                                                                    loading="lazy">
                                                                <span>StanFord</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon-best-all-time.webp') }}"
                                                                    alt="best
                                                        of all time"
                                                                    loading="lazy">
                                                                <span>Best of
                                                                    All Time</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/images_icon-cs.webp') }}"
                                                                    alt="computer science"
                                                                    loading="lazy">
                                                                <span>Computer
                                                                    Science</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon-data-science.webp') }}"
                                                                    alt="data science"
                                                                    loading="lazy">
                                                                <span>Data
                                                                    Science</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon_institutions_mit-trn-sq.webp') }}"
                                                                    alt="Mit"
                                                                    loading="lazy">
                                                                <span>MIT</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon_institutions_google-trn-sq.webp') }}"
                                                                    alt="Google"
                                                                    loading="lazy">
                                                                <span>Google</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon_institutions_amazon-trn-sq.webp') }}"
                                                                    alt="Amazon"
                                                                    looading="lazy">
                                                                <span>Amazon</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon-business.webp') }}"
                                                                    alt="Business"
                                                                    loading="lazy">
                                                                <span>Business</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">

                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon_best_course.svg') }}"
                                                                    alt="Best Course Guides"
                                                                    loading="lazy">
                                                                <span>Best
                                                                    Courses
                                                                    Guides</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#"
                                                                class="btn">
                                                                <img
                                                                    src="{{url_for( 'static', filename='images/icon-engineering.webp') }}"
                                                                    alt="Prompot Engineering"
                                                                    loading="lazy">
                                                                <span>Prompot
                                                                    Engineering</span>
                                                            </a>
                                                        </li>

                                                    </ul>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </section>
                            {% endblock search%}
                            <!--------end search course-------->

                            <!----start get you started courses----->
                            {% block started_courses %}
                            <section class="col-12 started-courses mt-5">
                                <div class="container-fluid">
                                    <h4 class="title">Courses to get you started</h4>
                                    <ul class="nav nav-tabs" id="myTabs"
                                        role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active"
                                                id="mostpopular-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#mostpopular"
                                                type="button" role="tab"
                                                aria-controls="mostpopular"
                                                aria-selected="true">Most
                                                popular</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link"
                                                id="new-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#new"
                                                type="button" role="tab"
                                                aria-controls="new"
                                                aria-selected="false">New</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link"
                                                id="trending-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#trending"
                                                type="button" role="tab"
                                                aria-controls="contact"
                                                aria-selected="false">Trending</button>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="myTabContent">

                                        <div
                                            class="tab-pane fade show active mt-4 position-relative"
                                            id="mostpopular"
                                            role="tabpanel"
                                            aria-labelledby="mostpopular-tab">
                                            <div class="swiper my-swiper-1 m-0 ">

                                                <div class="swiper-wrapper">
                                                    <!--add some here-->
                                                    <div class="swiper-slide">

                                                        <a href="#"
                                                            class="card h-100">
                                                            <div
                                                                class="card-img-top">
                                                                <div
                                                                    class="image-container">
                                                                    <img
                                                                        src="{{url_for('static', filename='images/course-5.jpg')}}"
                                                                        alt="course"
                                                                        loading="lazy">
                                                                    <div
                                                                        class="overlay"></div>
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="card-body">
                                                                <h5
                                                                    class="card-title">Java
                                                                    script for
                                                                    Beginners
                                                                    and Seniors
                                                                </h5>
                                                                <div
                                                                    class="card-text text-muted">
                                                                    Framwork
                                                                    Teck
                                                                </div>
                                                                <div
                                                                    class="rating d-flex flex-row align-items-baseline gap-1 flex-wrap">

                                                                    <h6
                                                                        class="avg-rating">4.7</h6>

                                                                    <div
                                                                        class="stars">
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa-regular fa-star-half-stroke"></i>
                                                                    </div>
                                                                    <div
                                                                        class="num-people">(190,604)</div>

                                                                </div>

                                                                <div
                                                                    class="price d-flex gap-2 flex-warp align-items-center">
                                                                    <span><strong>$199.99</strong></span>
                                                                    <span><del>$296.99</del></span>

                                                                </div>

                                                            </div>
                                                        </a>
                                                    </div>
                                                    <!--add some here-->

                                                </div>

                                            </div>

                                            <div class="swiper-button-prev-1">
                                                <span><i
                                                        class="fa fa-chevron-left"></i></span>
                                            </div>
                                            <div class="swiper-button-next-1">
                                                <span> <i
                                                        class="fa fa-chevron-right"></i></span>
                                            </div>
                                        </div>

                                        <div
                                            class="tab-pane fade mt-4 position-relative"
                                            id="new" role="tabpanel"
                                            aria-labelledby="new-tab">
                                            <div class="swiper my-swiper-2 m-0 ">

                                                <div class="swiper-wrapper">
                                                    <!-- here add some Coures-->
                                                    <div class="swiper-slide">

                                                        <a href="#"
                                                            class="card h-100">
                                                            <div
                                                                class="card-img-top">
                                                                <div
                                                                    class="image-container">
                                                                    <img
                                                                        src="{{url_for('static', filename='images/course-1.jpg')}}"
                                                                        alt="course"
                                                                        loading="lazy">
                                                                    <div
                                                                        class="overlay"></div>
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="card-body">
                                                                <h5
                                                                    class="card-title">Java
                                                                    script for
                                                                    Beginners</h5>
                                                                <div
                                                                    class="card-text text-muted">
                                                                    Framwork
                                                                    Teck
                                                                </div>
                                                                <div
                                                                    class="rating d-flex flex-row align-items-baseline gap-1 flex-wrap">

                                                                    <h6
                                                                        class="avg-rating">4.7</h6>

                                                                    <div
                                                                        class="stars">
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa-regular fa-star-half-stroke"></i>
                                                                    </div>
                                                                    <div
                                                                        class="num-people">(190,604)</div>

                                                                </div>

                                                                <div
                                                                    class="price d-flex gap-2 flex-warp align-items-center">
                                                                    <span><strong>$199.99</strong></span>
                                                                    <span><del>$296.99</del></span>

                                                                </div>

                                                            </div>
                                                        </a>

                                                    </div>
                                                    <!-- end here add some Coures-->
                                                </div>

                                            </div>
                                            <div class="swiper-button-prev-2">
                                                <span><i
                                                        class="fa fa-chevron-left"></i></span>
                                            </div>
                                            <div class="swiper-button-next-2">
                                                <span> <i
                                                        class="fa fa-chevron-right"></i></span>
                                            </div>
                                        </div>

                                        <div
                                            class="tab-pane fade mt-4 position-relative"
                                            id="trending" role="tabpanel"
                                            aria-labelledby="trending-tab">

                                            <div class="swiper my-swiper-3 m-0 ">

                                                <div class="swiper-wrapper">
                                                    <!-- here add some Coures-->
                                                    <div class="swiper-slide">

                                                        <a href="#"
                                                            class="card h-100">
                                                            <div
                                                                class="card-img-top">
                                                                <div
                                                                    class="image-container">
                                                                    <img
                                                                        src="{{url_for('static', filename='images/course-1.jpg')}}"
                                                                        alt="course"
                                                                        loading="lazy">
                                                                    <div
                                                                        class="overlay"></div>
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="card-body">
                                                                <h5
                                                                    class="card-title">Java
                                                                    script for
                                                                    Beginners</h5>
                                                                <div
                                                                    class="card-text text-muted">
                                                                    Framwork
                                                                    Teck
                                                                </div>
                                                                <div
                                                                    class="rating d-flex flex-row align-items-baseline gap-1 flex-wrap">

                                                                    <h6
                                                                        class="avg-rating">4.7</h6>

                                                                    <div
                                                                        class="stars">
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa fa-star "></i>
                                                                        <i
                                                                            class="fa-regular fa-star-half-stroke"></i>
                                                                    </div>
                                                                    <div
                                                                        class="num-people">(190,604)</div>

                                                                </div>

                                                                <div
                                                                    class="price d-flex gap-2 flex-warp align-items-center">
                                                                    <span><strong>$199.99</strong></span>
                                                                    <span><del>$296.99</del></span>

                                                                </div>

                                                            </div>
                                                        </a>

                                                    </div>
                                                    <!-- endhere add some Coures-->
                                                </div>

                                            </div>
                                            <div class="swiper-button-prev-3">
                                                <span><i
                                                        class="fa fa-chevron-left"></i></span>
                                            </div>
                                            <div class="swiper-button-next-3">
                                                <span> <i
                                                        class="fa fa-chevron-right"></i></span>
                                            </div>

                                        </div>

                                    </div>
                                </section>
                                {% endblock started_courses %}
                                <!----end get you started courses----->
                                {%block content%}
                                {% endblock content %}
                                {% block featured_courses %}
                                <!----start featured courses------>
                                <section class="col-12 courses  mt-5">

                                    {% block ftitlec %}
                                    <h4 class="title">Featured course</h4>
                                    {% endblock ftitlec %}

                                    <div class="row row-cols-1">
                                        <!--related cat courses-->
                                        <div class="col course">
                                            <a href="#" class="card h-100">
                                                <div class="row g-4">

                                                    <div
                                                        class="col-md-3  col-12">
                                                        <div
                                                            class="image-container">
                                                            <img
                                                                src="{{url_for('static', filename='images/course-1.jpg')}}"
                                                                alt="course"
                                                                loading="lazy">
                                                            <div class="overlay">
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-md-9 col-12">
                                                        <div
                                                            class="card-content row">

                                                            <div
                                                                class="col-lg-10 col-12 course-info">
                                                                <h3>Lorem ipsum
                                                                    dolor sit
                                                                    amet
                                                                    consectetur.</h3>

                                                                <p>Lorem ipsum
                                                                    dolor sit
                                                                    amet
                                                                    consectetur
                                                                    adipisicing
                                                                    elit.
                                                                    Architecto
                                                                    iusto ipsa
                                                                    quibusdam
                                                                    nobis,
                                                                    nostrum
                                                                    libero eum
                                                                    exercitationem
                                                                    consectetur
                                                                    blanditiis
                                                                    sequi
                                                                    voluptas.</p>

                                                                <div
                                                                    class="author">
                                                                    Dr.Angula
                                                                </div>

                                                                <div
                                                                    class="course-rating d-flex align-items-baseline flex-wrap gap-2">
                                                                    <div
                                                                        class="avg-rating">4.7</div>
                                                                    <div
                                                                        class="stars">
                                                                        <i
                                                                            class="fa fa-star"></i>
                                                                        <i
                                                                            class="fa fa-star"></i>
                                                                        <i
                                                                            class="fa fa-star"></i>
                                                                        <i
                                                                            class="fa fa-star"></i>
                                                                        <i
                                                                            class="fa fa-star"></i>
                                                                    </div>
                                                                    <div
                                                                        class="num-rating">
                                                                        (266.099)
                                                                    </div>
                                                                </div>

                                                                <div
                                                                    class="course-details">
                                                                    <span>74
                                                                        total
                                                                        hours</span>
                                                                    <span
                                                                        class="dot"><i
                                                                            class="fa-solid fa-circle-dot"></i></span>
                                                                    <span>380
                                                                        lectures</span>
                                                                    <span
                                                                        class="dot">
                                                                        <i
                                                                            class="fa-solid fa-circle-dot"></i></span>
                                                                    <span>All
                                                                        levels</span>
                                                                </div>

                                                                <div
                                                                    class="badge">
                                                                    Bestseller
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-lg-2 col-12 course-price text-lg-center d-lg-block d-flex align-items-baseline gap-1 flex-wrap ">
                                                                <div
                                                                    class="origin-price">$14.99</div>
                                                                <div
                                                                    class="del-price"><del>$199.99</del></div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </a>
                                        </div>
                                        <!--endrelated cat courses-->
                                    </div>

                                </section>
                                <!-------end  featured course------->
                                {% endblock featured_courses %}

                                {% block popular_topics %}
                                <!---start popular topics--->
                                <section class="col-12 popular-topics mt-5">
                                    <div
                                        class="container-fluid position-relative">

                                        <h4 class="title">Popular topics</h4>
                                        <div
                                            class="swiper swiperpopulartopics m-0  w-100"
                                            style="height:140px;">

                                            <div class="swiper-wrapper">
                                                {%for cat in cats%}
                                                <div class="swiper-slide">
                                                    <a href="{{url_for('categories',slug=cat.slug)}}" class="btn">
                                                        {{cat.title}}
                                                    </a>
                                                </div>
                                                {%for subcat in cat.subcategories%}
                                                <div class="swiper-slide">
                                                    <a href="{{url_for('categories',slug=subcat.slug)}}" class="btn">
                                                        {{subcat.title}}
                                                    </a>
                                                </div>
                                                {%endfor%}
                                                {%endfor%}
                                            </div>

                                        </div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>

                                    </div>

                                </section>
                                <!----end popular topics---->
                                {% endblock popular_topics %}

                            </div>

                        </main>
                    </div>

                </div>

                <!-----start footer----->
                <footer class="footer">
                    <div class="container-fluid">

                        <div class="row d-flex justify-content-around">
                            <div class="col-md-3 col-12">
                                <ul>
                                    <li><a href="#">Udemy Business</a></li>
                                    <li><a href="#">Teach on Udemy</a></li>
                                    <li><a href="#">Get the app</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-12">
                                <ul>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Help and Support</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                    <li><a href="#">Investors</a></li>
                                </ul>
                            </div>

                            <div class="col-md-3 col-12">
                                <ul>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="{{url_for('privacy')}}">Privacy
                                            policy</a></li>
                                    <li><a href="#">Cookie settings</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Accessibility statement </a></li>
                                </ul>
                            </div>
                        </div>

                        <div
                            class="row d-flex align-items-baseline justify-content-around">
                            <div class="col-5">
                                <a href="#"> <img
                                        src="{{url_for('static', filename='images/udemy.svg')}}"
                                        alt="logo" width="90" height="90"></a>
                            </div>
                            <div class="col-7 text-end">
                                <p>© 2023 Udemy, Inc.</p>
                            </div>
                        </div>

                    </div>

                </footer>
                <!-----end footer----->

            </div>

            <script type="text/javascript"
                src="{{url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

            <script type="text/javascript"
                src="{{url_for('static', filename='js/all.min.js')}}"></script>

            <script type="text/javascript"
                src="{{url_for('static', filename='js/swiper-bundle.min.js')}}"></script>

            <script type="text/javascript"
                src="{{url_for('static', filename='js/sidebar.js')}}"></script>

            <script type="text/javascript"
                src="{{url_for('static', filename='js/main.js')}}"></script>

            <script>
        for (let i = 1; i <= 3; i++) {
            new Swiper('.my-swiper-' + i, {
                loop: false,
                spaceBetween: 15,
                grabCursor: true,

                breakpoints: {
                    600: {
                        slidesPerView: 3,
                    },
                    968: {
                        slidesPerView: 5,
                    },
                },

                navigation: {
                    nextEl: '.swiper-button-next-' + i,
                    prevEl: '.swiper-button-prev-' + i,
                },


            });

        }

    </script>

        </body>

    </html>